*.fa
*.fa.gz
*.fna
*.fna.gz
*.fasta
*.fasta.gz
*.gff
*.gff.gz
*.gff3
*.gff3.gz
*.sam
*.bam
*.maf
*.f_maf
align/anchors_*
*.zip
*.wig
*.gvcf
*.gvcf.header
*.gvcf.noheader
*.gvcf.noheader.sorted

*.log
logs/*
!logs/.gitkeep
